.casesPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 95vh;
  .caseName {
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 0 0.5em;
    user-select: none;
  }
  .itemName {
    color: white;
    border-radius: 10px;
    padding: 0 0.5em;
    user-select: none;
  }
  .opendCaseBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    svg {
      margin-left: 4px;
      margin-bottom: 3px;
    }
  }
  .casePreview {
    height: 25vh;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #3a6186, #89253e);
    border-radius: 10px;
    margin: 1em 0;
    button {
      color: white;
    }
  }
  .cases {
    height: 210px;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: linear-gradient(to right, #536976, #292e49);
    border: 1px solid #536976;
    border-radius: 3px;
    .item {
      height: 200px;
      width: 200px;
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      color: white;
      user-select: none;
      border-radius: 3px;
      margin-left: 10px;
      animation: roll 8s ease forwards;
    }
  }
}
.navBar {
  height: 5vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.resetModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 150px;
  background-color: #292e49;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3 {
    user-select: none;
    color: white;
  }
  button {
    margin-top: 10px;
  }
}

.inventory {
  min-height: 80vh;
  width: 80vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background: rgb(24, 23, 23);
  h4 {
    color: white;
    padding: 0.4em;
    user-select: none;
  }
  button {
    margin-left: auto;
  }
  .inventoryItems {
    height: 60vh;
    width: 100%;
    margin-top: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    .inventoryItem {
      border: 1px solid black;
      color: white;
    }
  }
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #202124;
}
::-webkit-scrollbar-track {
  background-color: rgba(24, 23, 23, 0);
}

@keyframes roll {
  0% {
    transform: translateX(3600px);
  }
  95% {
    transform: translateX(var(--randNumber));
  }
  100% {
    transform: translateX(-2840px);
  }
}

@media screen and (max-width: 768px) {
  .casesPage {
    .cases {
      width: 95%;
      height: 200px;
    }
  }
  .inventory {
    height: 90%;
    width: 80vw;
    h4 {
      color: white;
      padding: 0.3em;
      font-size: 1.1rem;
    }
    button {
      margin-left: auto;
    }
    .inventoryItems {
      height: 60vh;
      width: 100%;
      margin-top: auto;
      overflow-y: scroll;
      overflow-x: hidden;
      .inventoryItem {
        border: 1px solid black;
        color: white;
        height: 60%;
        h2 {
          font-size: 3rem;
        }
        h4 {
          padding: 0.5em 0;
          font-size: 2rem;
        }
      }
    }
  }
}
